/* You can add global styles to this file, and also import other style files */

.table-agexport {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    color: #212529;
  }
  
  .table-agexport > thead {
    background-color: #e4e4e4;
    font-size: 1.4rem;
  }
  .table-agexport>tbody>tr>td {
    font-size: 1.3rem !important;
    padding: 4px !important;
    vertical-align: middle;
  }
  
  .table-agexport>tbody>tr>td, 
  .table-agexport>tbody>tr>th, 
  .table-agexport>tfoot>tr>td, 
  .table-agexport>tfoot>tr>th, 
  .table-agexport>thead>tr>td, 
  .table-agexport>thead>tr>th {
    border: 4px solid white !important;
  }
  
  .table-agexport>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
  }

  .thead-agexport {
    background-color:#e4e4e4;
    font-size: 1.2rem;
  }
  .thead-agexport th{
    vertical-align: middle !important;
  }

  .required::before{
    color: red;
    content: "*";
    margin-right: 5px;
  }
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
